atomicwrites==1.4.0
attrs==20.2.0
colorama==0.4.3
importlib-metadata==2.0.0
iniconfig==1.0.1
more-itertools==8.5.0
numpy==1.19.2
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pyquaternion==0.9.9
pytest==6.1.1
pytest-mock==3.3.1
six==1.15.0
toml==0.10.1
wcwidth==0.2.5
zipp==3.3.0
